@use '../../../styles/globals.scss';

.nav {
  height: globals.$nav-height;
  padding: 1em;
  color: var(--lightText);
  background-color: var(--primary);
  border-bottom: 1px solid var(--border);
  display: flex;
}

.start {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.end {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login {
  padding: 1rem;
  color: var(--lightText);
  display: flex;
  align-items: center;
  margin-left: auto;
}

.agenda {
  margin-left: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  color: var(--lightText);
}

.agenda h1 {
  margin-left: 1rem;
}

.nav ul li a {
  margin: .5rem 1rem;
}

.nav_logged_in ul li a {
  margin: .5rem 1.5rem;
}

.nav_button {
  margin-left: 1em;
  color: white;
}

.icon_button {
  color: white;
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}