.button_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card_container {
  margin: .5em 0 .5em 0;
}

.add_button {
  color: var(--midText);
  text-transform: capitalize;
  font-size: 1.1em;
}

.add_icon {
  color: var(--primary);
}
