.btn {
  border: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: .25rem;
  transition: background 0.2s ease;
}

/* sizes */
.xl {
  font-size: 1.5rem;
}

.large {
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
}

.medium {
  padding: .4rem 1rem;
  font-size: 1.05rem;
}

.small {
  padding: .4rem;
  font-size: .8rem;
}

.icon {
  background-color: var(--background);
  margin: 0 !important;
  color: var(--agendaSecondary);
  min-width: 0px;
  padding: 0.2rem;
  margin-top: 0.2rem;
}

.icon:hover {
  opacity: 50%;
}

.iconContainer {
  padding: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  opacity: 20%;
  cursor: not-allowed;
}

.menu {
  background-color: inherit;
  color: var(--agendaSecondary);
  justify-content: flex-start;
  align-items: left;
  font-weight: 300;
}

.menu:hover {
  background-color: var(--backgroundThree);
  font-weight: 300;
}

.topic {
  background-color: var(--backgroundTwo);
  color: var(--agendaSecondary);
  border: 1px solid var(--agendaSecondary);
}

.topic:hover {
  background-color: var(--backgroundTwo);
  color: var(--agendaSecondary);
  border: 1px solid var(--agendaSecondary);
}

/* stretch */
.stretchMedium {
  width: 70%;
}

.stretchWide {
  width: 90%;
}

.outlined {
  background-color: inherit;
  border: 1px solid var(--agendaSecondary);
  color: var(--agendaText);
}

.outlined:hover {
  opacity: 50%;
}

.success {
  border: 1px solid var(--success);
  color: var(--successText);
}

.danger {
  border: 1px solid var(--danger);
  color: var(--dangerText);
}

.disabled:hover {
  opacity: 20%;
}