$primary: #3a3c45;
$primary-hover: #1d1e23;
$primary-border: #484a53;
$background: #eef0f1;
$backgroundHighlight: #e6e6e6;
$foreground: #fff;
$border: #c9c9c9;
$darkText: #3a3c45;
$midText: #6a737d;
$lightText: #fff;

$danger: #df1405;
$dangerText: #ffffff;
$dangerBackground: #940c03;

$success: #9bc333;
$successText: #ffffff;
$successBackground: #95da00;

$red: #df1405;
$yellow: #f6e336;
$orange: #f69100;
$green: #45a749;
$blue: #1e8feb;
$indigo: #394bad;
$purple: #9697e6;
$pink: #e01b5c;

$darkGrey: #3a3c45;
$grey: #6a737d;
$lightGrey: #c9c9c9;
