.container {
  background-color: var(--menuColor);
  height: 80%;
}

.container h2 {
  color: var(--agendaSecondary);
  padding-top: 20px;
  margin: 20px;
}

.container Button {
  margin: 10px;
}

.hr {
  background-color: var(--background);
  height: 10px;
}

.drawerContainer {
  width: 250px;
  transition: width 350ms;
}

.drawerClosed {
  overflow: hidden;
  width: 0px;
  transition: width 350ms;
}

.arrows {
  display: flex;
  color: var(--agendaSecondary);
}

.arrow {
  width: 0px;;
  position: relative;
  left: -90%;
}

.showOpenArrow {
  width: 0px;
  /* overflow: hidden; */
}

.backArrow {
  width: 0px;
  position: relative;
  right: -90%;
}

.hideBackArrow {
  position: relative;
  left: -100px;;
}

