.container {
  width: 270px;
  background-color: var(--menuColor);
  height: 80%;
  transition: width 600ms;
  overflow: hidden;
}

.container h2 {
  color: var(--agendaSecondary);
  padding-top: 20px;
  margin: 22px;
}

.container Button {
  margin: 12px;
}

.closed {
  width: 22px;
}

.arrow {
  color: var(--agendaSecondary);
  float: right;
}

.arrowClose {
  transform: rotate(180deg);
  transition: transform 600ms linear;
}
.arrowOpen {
  transform: rotate(0deg);
  transition: transform 600ms linear;
}