.godContainer {
  display: flex;
  flex-direction:row;
  height: 100%;
}

.container {
  width: 18rem;
  border: 1px solid var(--agendaThree);
  background-color: var(--backgroundTwo);
  transition: width 400ms;
  overflow: hidden;
  height: 90%;
  margin-top: 1rem;
  border-radius: 0rem .5rem .5rem 0rem;
}

.container h2 {
  color: var(--agendaSecondary);
  font-size: 2rem;
  margin-left: 1rem;
}

.container Button {
  margin: 1.25rem;
}

.closed {
  width: 0rem;
  left: -1px;
}

.arrowContainer {
  border-radius: 0rem .5rem .5rem 0rem;
  margin-top: calc( 50vh - 7rem );
  border: 1px solid var(--agendaThree);
  background-color: var(--backgroundTwo);
  margin-bottom: auto;
  width: 2rem;
  height: 3rem;
  background-color: var(--backgroundTwo);
}

.arrow {
  color: var(--agendaSecondary);
  float: right;
}

.arrowClose {
  transform: rotate(180deg) translate( 0, -.4rem );
  transition: transform 400ms linear;
}
.arrowOpen {
  transform: rotate(0deg) translate( 0, .7rem );
  transition: transform 400ms linear;
}
