.container {
  width: 200px;
  height: fit-content;
  right: 5%;
  background-color: var(--menuColor);
  justify-content: center;
  position: absolute;
}

.container Button {
  justify-content: left;
  margin-left: 10px;
  padding: 0;
}
