@font-face {
  font-family: open-sans;
  src: url('../public/font/OpenSans-Regular.ttf');
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--background);
  font-family: open-sans;
  overflow-x:hidden;
  color: var(--agendaSecondary);
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-size: .9rem;
}

.card {
  color: var(--agendaText);
  background-color: var(--backgroundTwo);
  border: 1px solid var(--agendaThree);
  width: 90%;
  min-width: 177px;
  min-height: 30px;
  margin:15px 0px;
  text-align: center;
  border-radius: 10px;
  line-height: 30px;
  padding: 5px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .card {
    min-width: 90px;
  }
}

/* THEMES */

.default {
  --agenda: #244a93;
  --agendaSecondary: #578ffe;
  --agendaThree: #2254af ;
  --agendaText: #8eb3f9;
  --background: #082050;
  --backgroundTwo: #082050;
  --backgroundShadow: #041435;
  --agendaPurple: #5d5fef;
  --danger: #df1405;
  --dangerText: #e0918c;
  --dangerBg: #940c03;
  --success: #9bc333;
  --successText: #d0e588;
  --successBg: #5d8700;
}

.dark {
  --agenda: #444444;
  --agendaSecondary: #878683;
  --agendaThree: #4e4e4e ;
  --agendaText: #bebebe;
  --background: #121212;
  --backgroundTwo: #121212;
  --backgroundShadow: #0d0d0e;
  --agendaPurple: #533c55;
  --danger: #df1405;
  --dangerText: #e0918c;
  --dangerBg: #940c03;
  --success: #9bc333;
  --successText: #d0e588;
  --successBg: #5d8700;
}

.light {
  --agenda: #444444;
  --agendaSecondary: #878683;
  --agendaThree: #0e0e0e ;
  --agendaText: #111111;
  --background: #ffffff;
  --backgroundTwo: #ffffff;
  --backgroundShadow: #adadad;
  --agendaPurple: #533c55;
  --danger: #df1405;
  --dangerText: #ffffff;
  --dangerBg: #940c03;
  --success: #9bc333;
  --successText: #ffffff;
  --successBg: #95da00;
}

.zachsTheme {
  --agenda: #070707;
  --agendaSecondary: #066b0b;
  --agendaThree: #1d1d1d ;
  --agendaText: #006e09;
  --background: #000000;
  --backgroundTwo: #101a0f;
  --backgroundShadow: #000000;
  --agendaPurple: #e200f7;
  --danger: #770016;
  --dangerText: #d80303;
  --dangerBg: #cf1104;
  --success: #022c79;
  --successText: #005be4;
  --successBg: #0081b4;
}

.agendaOG {
  --agenda: #40c540;
  --agendaSecondary: #179417;
  --agendaThree: #3dcf3d ;
  --agendaText: #000000;
  --background: #849989;
  --backgroundTwo: #dfe9df;
  --backgroundShadow: #383b39;
  --agendaPurple: #5d5fef;
  --danger: #df1405;
  --dangerText: #e0918c;
  --dangerBg: #940c03;
  --success: #9bc333;
  --successText: #11c501;
  --successBg: #5d8700;
}

.banana {
  --agenda: #d8e709;
  --agendaSecondary: #80880f;
  --agendaThree: #eeff00;
  --agendaText: #101306;
  --background: #bfc200;
  --backgroundTwo: #445305;
  --backgroundShadow: #041435;
  --agendaPurple: #5d5fef;
  --danger: #df1405;
  --dangerText: #e0918c;
  --dangerBg: #940c03;
  --success: #9bc333;
  --successText: #d0e588;
  --successBg: #5d8700;
}

body {
  overflow: hidden;
}
