@font-face {
  font-family: open-sans;
  src: url('../public/font/OpenSans-Regular.ttf');
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--background);
  font-family: open-sans;
  overflow-x:hidden;
  color: var(--secondary);
  font-weight: 100;
  overflow: hidden;
}

h3 {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-size: .9rem;
}

/* THEMES */

.default {
  --primary: #3A3C45;
  --primary-hover: #1d1e23;
  --background: #f5f5f5;
  --backgroundHighlight: #e6e6e6;
  --foreground: #fff;
  --border: #c9c9c9;
  --darkText: #3A3C45;
  --midText: #6a737d;
  --lightText: #fff;
  --danger: #df1405;
  --dangerText: #ffffff;
  --dangerBackground: #940c03;
  --success: #9bc333;
  --successText: #ffffff;
  --successBackground: #95da00;
  --yellow: #f6e336;
  --orange: #f69100;
  --green: #45a749;
  --blue: #1e8feb;
  --indigo: #394bad;
  --purple: #9697e6;
  --pink: #e01b5c;
  --boxShadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}