@font-face {
  font-family: open-sans;
  src: url('../public/font/OpenSans-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  font-family: open-sans;
  overflow-x:hidden; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --agendaPrimary: #244a93;
  --background: #082050;
  --agendaSecondary: #9dbeff;
  --agendaThree: #2254af ;
  --skyBlue: #5486e5;
  --textBlue: #c6d7f6;
  --danger: #df1405;
  --menuColor: #0e2d68;
  --menuColorOp: #244a93;
  --agendaPurple: #5d5fef;
  --agendaGreen: #41AE4C;
}
