.inboxContainer {
  display: flex;
  margin-left: 0;
  width: 100%;
}

.messagesContainer {
  display: flex;
  margin-left: 5%;
  margin-top: 0;
  flex-direction: column;
  margin: 3rem;
}

.item {
  border-bottom: .5px solid var(--agendaSecondary);
  padding: 0.5rem;
  display: flex;
  color: var(--textBlue);
}

.item :nth-child(odd){
  margin-right: auto;
}

.item:hover {
  cursor: pointer;
  background-color: var(---agendaSecondary);
}

.item p {
  transition: linear .2s;
}

.item:hover > p {
  opacity: 70%;
}
