.inboxContainer {
  display: flex;
  margin-left: 0;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  margin-top: 1rem;
  width: 90%;
  min-height: 90%;
  background-color: var(--backgroundTwo);
  outline: .5px solid var(--agendaSecondary);
  border-radius: 0.5rem;
}

.item {
  border-bottom: .5px solid var(--agendaSecondary);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--agendaSecondary);
}

.item :nth-child(1){
  margin-right: auto;
}

.item :nth-child(2){
  margin-left: auto;
}

.item :nth-child(3){
  margin-left: 1rem;
}

.item :nth-child(4){
  margin-left: 1rem;
}

.item:hover {
  background-color: var(---agendaSecondary);
}

.item p {
  transition: linear .2s;
}

.item:hover > p {
  opacity: 70%;
}
