.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.default {
  height: 1.5rem;
  background-color: inherit;
  color: var(--agendaText);
  border: 0;
  border-bottom: 1px solid var(--agendaSecondary);
  padding: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  outline-width: 0;
  font-size: 1rem;
}

.default:focus {
  outline: none;
  border-bottom: 1px solid var(--agendaText);
}

.outlined {
  border-color: var(--agendaSecondary);
  background-color: inherit;
  border-width: 2px;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  color: var(--agendaText);
}

.outlined:focus {
  outline: none;
  border-color: var(--agendaText);
}

.error {
  border-color: var(--dangerBg);
}

.error:focus {
  outline: none;
  border-color: var(--danger);
}

.wrapper input::placeholder {
  color: var(--agendaSecondary);
}

.wrapper p {
  font-size: 15px;
  padding-top: 5px;
  margin-top: -15px;
  color: var(--danger);
  opacity: .8;
}

.multiLine {
  height: auto;
  resize: none;
  font-family: inherit;
  color: var(--agendaText)
}

.wrapper textarea::placeholder {
  color: var(--agendaSecondary);
}