.container {
    background-color: #0E2D68;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 15px;
}

.container h2 {
    margin-top: -5px;
}
.topics {
    display: flex;
    flex-wrap: wrap;
}

.topics >* {
    margin-right: 5px;
}
