.meetingBar {
    display: flex;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;

}

.form{ width: 100%;
    margin-left: 10px;
    display: flex;
}

.date {
margin-left: auto;
}