.nav {
  height: 100px;
  padding: 0px 5px 0px 25px;
  color: var(--textBlue);
  display: flex;
  align-items: center;
  margin: 0 10vw 0 10vw;
}

.navLoggedIn {
  height: 100px;
  padding: 0px 5px 0px 25px;
  color: var(--textBlue);
  display: flex;
  align-items: center;
  margin: 0 3vw 0 0;
}

.login {
  height: 50px;
  padding: 10px;
  color: var(--textBlue);
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navcentered {
  margin-left: auto;
  margin-right: auto;
}

.Agenda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  color: var(--textBlue);
}

.navLoggedIn ul li a {
  margin: 5px 15px;
}

.navLoggedIn Button {
  margin: 55px 0px;
}

.nav ul li a {
  margin: 5px 15px;
}


.nav Button {
  margin: 5px 10px;
}

