.nav {
  background-color: var(--backgroundTwo);
  height: 5rem;
  padding: .5em 1em;
  color: var(--agendaText);
  display: flex;
}

.first_third {
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.center_third {
  width: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last_third {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login {
  height: 4rem;
  padding: 1rem;
  color: var(--agendaText);
  display: flex;
  align-items: center;
  margin-left: auto;
}

.agenda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  color: var(--agendaText);
}

.agenda h1 {
  margin-left: 1rem;
}

.nav ul li a {
  margin: .5rem 1rem;
}

.nav Button {
  margin: 1rem;
}

.nav_logged_in ul li a {
  margin: .5rem 1.5rem;
}

.nav_button {
  width: 7rem;
}
