.nav {
  height: 5.5rem;
  padding: 0rem .5rem 0rem .5rem;
  color: var(--textBlue);
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.navLoggedIn {
  margin: 0 1.5rem 0 1.5rem;
}

.login {
  height: 4rem;
  padding: 1rem;
  color: var(--textBlue);
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navCentered {
  margin-left: auto;
  margin-right: auto;
}

.agenda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  color: var(--textBlue);
}

.agenda h1 {
  margin-left: 1rem;
}

.navLoggedIn ul li a {
  margin: .5rem 1.5rem;
}

.navLoggedIn Button {
  margin: 4.5rem 0px;
}

.nav ul li a {
  margin: .5rem 1rem;
}

.nav Button {
  margin: .5rem 1rem;
}
