.container {
  position: absolute;
  width: 330px;
  height: 120px;
  border-radius: 6px;
  top: 0;
  left: 50vw;
  padding: 7px 17px 0px 17px;
  margin: 20px;
  background-color: var(--agendaThree);
  box-shadow: 3px 3px 5px var(--backgroundShadow);
  animation: notificationPopout ease 1s, fadeOut 1s forwards 5s;
  z-index: 1; 
}

.container h1{
  padding: 0;
  margin: 0;
  font-size: x-large;
  text-align: center;
  color: var(--agendaSecondary);
}

.close{
  position: absolute;
  bottom: -18px;
  left: 5px;
  color: var(--agendaThree);
  cursor: pointer;
}

.closePressed{
  display: none;
}

.loadingBar {
  position: absolute;
  left: 0;
  padding: 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
  height: 10px;
  background-color: var(--agendaSecondary);
  animation:  loadingBar 5s forwards;
}

.container p {
  color: var(--agendaSecondary);
  padding: 0;
  margin-top: 5px;
}

@keyframes notificationPopout {
  0% {
    transform: translate(0, -50%);
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes loadingBar {
  from {

  }
  to {
    width: 0%;
    left: 50%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

}

@keyframes fadeOut {
  from{
    opacity: 100%;
  }
  to {
    opacity: 0%;
    display: none;
  }
}