.card {
  color: var(--darkText);
  border: 1px solid var(--border);
  border-radius: .5em;
  padding: 1em;
  font-weight: 600;
}

.card p {
  white-space: pre-wrap;
}

.bxCard {
  color: var(--darkText);
  border-radius: .5em;
  padding: 1em;
  box-shadow: var(--boxShadow);
}

@media only screen and (max-width: 600px) {
  .card {
    min-width: 90px;
  }
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 1.5em 5em 1.5em;
  max-height: 95vh;
  resize: none;
}

.page_stretch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 0em 5em 0em;
  max-height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
}

.page_title {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 1em;
}

.container {
  width: 100%;
}
