.card {
  color: var(--agendaText);
  background-color: var(--backgroundTwo);
  border: 1px solid var(--agendaSecondary);
  min-width: 177px;
  min-height: 30px;
  margin: 15px 0px;
  text-align: center;
  border-radius: 10px;
  line-height: 30px;
  padding: 1em;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .card {
    min-width: 90px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 3rem 10rem 3rem;
  max-height: 100vh;
  overflow: scroll;
}

/* use psuedoselector for scrollbar (not supported by all browsers) */
.page::-webkit-scrollbar {
  width: .75rem;
}

.page::-webkit-scrollbar-track {
  background: var(--background);
}

/* thumb refers to the bar on the slider */
.page::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--agendaSecondary), var(--agendaThree));
  border-radius: 25px;
}

.container {
  margin-top: 2rem;
  width: 100%;
  max-width: 1080px;
}
