.card {
  color: var(--darkText);
  border: 1px solid var(--border);
  border-radius: .5em;
  padding: 1em;
  font-weight: 600;
}

.card p {
  white-space: pre-wrap;
}

.bxCard {
  color: var(--darkText);
  border-radius: .5em;
  padding: 1em;
  box-shadow: var(--boxShadow);
}

@media only screen and (max-width: 600px) {
  .card {
    min-width: 90px;
  }
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 1.5em 5em 1.5em;
  max-height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
  background-color: var(--foreground);
}

.page_stretch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 0em 5em 0em;
  max-height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
}


/* use psuedoselector for scrollbar (not supported by all browsers) */
.page::-webkit-scrollbar {
  width: .75em;
}

.page::-webkit-scrollbar-track {
  background: var(--backgroundTwo);
}

.page::-webkit-scrollbar-button {
  background: var(--background);
  color: red;
}

.page::-webkit-scrollbar-corner {
  background: var(--background);
}

/* thumb refers to the bar on the slider */
/* .page::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--), var(--primary));
  border-radius: 25px;
} */

.container {
  width: 100%;
  max-width: 1080px;
}
