.card {
  display: flex;
  color: var(--darkText);
  border: 1px solid var(--border);
  background: var(--foreground);
  border-radius: 6px;
  padding: 1em;
  position: relative;

  p {
    white-space: pre-wrap;
  }

  @media only screen and (max-width: 600px) {
    min-width: 90px;
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      background: var(--foregroundHighlight);
    }
  }
}

.icon_container {
  position: absolute;
  top: 1em;
  right: 1em;
}

.like_button {
  width: 8em;
  margin-top: 4em;
}

.content_container {
  width: 100%;
}

.name_input {
  margin-bottom: 1em;
  width: 30%;
  min-width: 200px;
}

.description_input {
  margin-bottom: 1em;
  width: 100%;
}

.button_container {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 0.5em;
  }
}
