.container {
  border: 1px solid var(--border);
  color: var(--textDark);
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin: .25rem;
  margin-top: .5rem;
  font-weight: 200;
}

.container p {
  font-size: 1rem;
  margin: .5rem;
  color: var(--textDark)
}

.deleteIcon {
  color: var(--danger);
  margin: .5rem;
  opacity: .5;
}

.deleteIcon:hover {
  cursor: pointer;
  opacity: .8;
}

.icons {
  color: var(--textDark);
  display: inline-block;
  margin-left: .5rem;
}
