.inboxContainer {
  display: flex;
  margin-left: 0;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background);
}

.item {
  border-top: .5px solid var(--agenda);
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--agendaText);
}

.item:hover {
  cursor: pointer;
}

.item > * {
  transition: opacity .25s;
}

.item:hover > * {
  opacity: 100%;
}

.item > * {
  opacity: 0%;
}

.item > p {
  margin: .5em;
  opacity: 100%;
}

.item:hover > p {
  opacity: 70%;
}

.item :nth-child(1) {
  margin-right: auto;
}

.item :nth-child(2) {
  margin-left: auto;
}

.item :nth-child(3) {
  margin-left: 1em;
}

.item :nth-child(4) {
  margin-left: 1em;
}

.item:hover {
  background-color: var(---agendaSecondary);
}

.noMeetings {
  margin: auto;
  font-size: large;
  color: var(--agendaText);
  text-align: center;
}

.noMeetings a {
  color: var(--agendaSecondary);
}

.noMeetings a:hover {
  opacity: 70%;
}
