.container {
  color: var(--agendaText);
  background-color: var(--backgroundTwo);
  border: 1px solid var(--agendaSecondary);
  width: 100%;
  margin:15px 0px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

.inputContainer {
 display: flex;
  flex-direction: row;
  align-items: center;
}

.takeAwayContainer  {
  color: var(--agendaText);
  background-color: var(--backgroundTwo);
  border: 1px solid var(--agendaSecondary);
  width: 100%;
  margin:15px 0px;
  border-radius: 10px;
  padding: 5px;
  min-height: 10rem;
}

.cardContainer {
  width: 90%;
  margin-left: auto;
}
