.container {
  color: var(--textBlue);
  background-color: var(--menuColor);
  border: 1px solid var(--agendaThree);
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  padding: 15px;
  border-radius: 10px;
}

.container h3 {
  margin: 0;
}
