.container {
  width: 100%;
  color: var(--agendaText);
  background-color: var(--backgroundTwo);
  border: 1px solid var(--agendaSecondary);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.container h3 {
  margin: 0;
}
