.container {
  color: var(--agendaText);
  background-color: var(--backgroundTwo);
  border: 1px solid var(--agendaSecondary);
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  padding: 15px;
  border-radius: 10px;
}

.container h3 {
  margin: 0;
}
