.container {
  color: var(--agendaText);
  background-color: var(--backgroundTwo);
  border: 1px solid var(--agendaSecondary);
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.container h3 {
  margin: 0;
}

.container input {
  margin: .5rem 0rem;
}

.container textarea {
  margin-top: .5rem;
  width: 100%;
}

.container button {
  margin-top: 1rem;
  margin-left: auto;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonContainer button {
  margin-left: .25rem;
}
