.container {
  color: var(--agendaText);
  border: 1px solid var(--agendaSecondary);
  background-color: var(--backgroundTwo);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}

.container h3 {
  margin: 0;
}
