.btn {
  border: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background 0.2s ease;
}

/* sizes */
.xl {
  font-size: 1.5rem;
}

.large {
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
}

.medium {
  padding: 0.4em 0.7em;
  font-size: 1.05rem;
}

.small {
  padding: 0.4rem;
  font-size: 0.8rem;
}

.icon {
  background-color: transparent;
  color: var(--background);
  min-width: 0px;
  padding: 0.2em;
  margin-top: 0.2em;
}

.icon:hover {
  opacity: 50%;
}

.icon_inverted {
  background-color: transparent;
  color: var(--primary);
  min-width: 0px;
  padding: 0.2em;
  margin-top: 0.2em;
}

.icon_inverted:hover {
  opacity: 50%;
}

.icon_container {
  padding-right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  opacity: 20%;
  cursor: not-allowed;
}

.menu {
  background-color: inherit;
  color: var(--secondary);
  justify-content: flex-start;
  align-items: left;
  font-weight: 400;
}

.menu:hover {
  background-color: var(--secondary);
  font-weight: 400;
}

.topic {
  background-color: var(--backgroundTwo);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.topic:hover {
  background-color: var(--backgroundTwo);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.hollow {
  border: none;
  background-color: transparent;
  color: var(--primary);
}

.hollow:hover {
  opacity: 70%;
}

/* stretch */
.stretch_medium {
  width: 70%;
}

.stretch_wide {
  width: 90%;
}

.outlined {
  background-color: inherit;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.outlined:hover {
  opacity: 70%;
}

.success {
  border: 1px solid var(--successBackground);
  color: var(--successText);
  background-color: var(--successBackground);
}

.danger {
  border: 1px solid var(--dangerBackground);
  color: var(--dangerText);
  background-color: var(--dangerBackground);
}

.disabled:hover {
  opacity: 20%;
}
