@use "../../../../styles/colors.scss";

.table_container {
  width: 100%;
  border: 1px solid colors.$border;
  background: colors.$foreground;
  border-radius: 6px;
  margin-bottom: 1em;
}

.table_header {
  font-weight: bold;
}

.table_row {
  cursor: pointer;

  &:hover {
    background: colors.$foregroundHighlight;
  }
}

.no_meetings {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px solid colors.$border;
  background: colors.$foreground;
  border-radius: 6px;
  padding: 1em;

  button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
