@use "../../../styles/colors.scss";

.status_button {
  cursor: default;

  &.editable {
    cursor: pointer;
  }
}

.action_button {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    padding: 0;
    margin-right: 2em;
  }

  .arrow {
    color: colors.$midText;
  }

  .first_tag {
    margin-right: 0.25em;
  }

  .second_tag {
    margin-left: 0.25em;
  }
}
