@use "../../../../../styles/colors.scss";

.side_bar_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  width: 100%;
  text-align: left;
  margin: 0.25em 0;
  text-transform: capitalize;
  background: colors.$foreground;
  // Use border to offset left increase due to hover border.
  border: 1px solid colors.$foreground;
  padding: 0.5em;

  &:hover {
    cursor: pointer;
    border-left: 1px solid colors.$black;
    background: colors.$foregroundHighlight;
  }

  &.live {
    border-left: 1px solid colors.$black;
    background: colors.$foregroundHighlight;
  }

  &.closed {
    opacity: 60%;
  }
}

.button_text {
  width: 100%;
  margin: 0;
}

.icon {
  font-size: 1.5em;

  &_high {
    color: colors.$danger;
  }

  &_med {
    color: colors.$orange;
  }

  &_low {
    color: colors.$blue;
  }
}
