.container {
  font-size: 10px;
  color: var(--agendaText);
  background-color: var(--backgroundTwo);
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.container:hover {
  opacity: 70%;
}

.editing {
  cursor: initial;
}

.editing:hover {
  opacity: 100%;
}

.container h3 {
  font-size: .9rem;
  margin: 0;
}

.container input {
  width: 50%;
  margin: .5rem 0rem;
}

.container textarea {
  font-size: .75rem;
  margin-top: .5rem;
  width: 100%;
}

.container p {
  white-space: pre-wrap;
}

.container button {
  margin-top: 1rem;
  margin-left: auto;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonContainer button {
  margin-left: .25rem;
  display: flex;
}
