.container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.container main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container content {
  width: 100%;
  max-width: 1500px;
}
