.blank_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_title {
  width: 100%;
}

.topic {
  margin-top: 20px;
}

.topic Button {
  margin-left: auto;
}

.like {
  padding: .25em;
  overflow: visible;
  height: 1.1em;
  width: 1.1em;
  border-radius: .5em;
  cursor: pointer;
  color: var(--midText);
}

.dislike {
  padding: .25em;
  overflow: visible;
  height: 1.1em;
  width: 1.1em;
  border-radius: .25em;
  cursor: pointer;
  color: var(--successText);
  background-color: var(--successBackground);
}
