.drawer_container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 4em);
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
  background: var(--background);
}
