@use "../../../../styles/colors.scss";

.topic_card {
  width: 100%;
  background: colors.$foreground;
  border: 1px solid colors.$border;
  border-radius: 6px;
  padding: 1em;

  button {
    margin-top: 1em;
    margin-right: 0.5em;
  }
}

.topic {
  width: 100%;

  p {
    margin: 0.5em 0 1em 0;
  }
}

.topic_name {
  margin: 0;
}

.topic_description {
  white-space: pre;
}
