@use "../../../colors.scss";

.table_container {
  border: 1px solid colors.$border;
  background: colors.$foreground;
  border-radius: 6px;
}

.table_header {
  font-weight: bold;
}

.table_row {
  cursor: pointer;

  &:hover {
    background: colors.$foregroundHighlight;
  }
}
