@use "../../../../styles/colors.scss";

.action_item_bar {
  border-radius: 6px;
  border: 1px solid colors.$border;
  background: colors.$foreground;
  padding: 0.5em;
}

.action_item {
  display: flex;
  align-items: center;

  p {
    font-size: 0.9em;
  }
}

.checkbox {
  height: 20px;
}
