@use '../../../../../styles/colors.scss';

.side_bar_button {
  width: 100%;
  padding: .5em 1em;
  color: colors.$primary;
  text-align: left;
  font-weight: bold;
  margin: 0.25em 0;
  text-transform: capitalize;
};

.button_text {
  width: 100%;
  margin: 0;
}

.icon {
  color: colors.$red;
  &-red {
    color: colors.$danger;
  }
}