.aboutUsContainer {
  margin: auto;
  position: relative;
  right: -10px;
  max-width: 1000px;
  padding-top: 100px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  margin: auto;
  margin-top: 150px;
}

.homeContainer h1 {
  margin: auto;
  text-align: center;
  font-size: 2rem;
  color: var(--agendaText);
  font-weight: bold;
}

.homeContainer p {
  margin: auto;
  text-align: center;
  font-size: 1rem;
  padding-top: 2.5rem;
  color: var(--agendaText);
}
