.form_container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_container form {
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 20px 30px 30px 30px;
  max-width: 350px;
}

.form_title {
  width: 100%;
  color: var(--secondary);
  margin-bottom: 5px;
}

.text_field {
  width: 100%;
  margin-bottom: 25px;
}

.login_button_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.login_button {
  margin-top: 5px;
  background-color: var(--primary);
}

.login_button:hover {
  background-color: var(--primary-hover);
}

.have_an_account {
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.have_an_account a {
  margin-left: 6px;
  color: var(--blue);
}
