.chip_container {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
  min-height: 45px;
}

.chip {
  margin-right: 5px;
}

.input_container {
  margin-top: 0.5em;
  display: flex;
  align-items: flex-start;
}

.add_button {
  margin-left: 1em;
}
