.topics {
  display: flex;
  flex-wrap: wrap;
}

.topics >* {
  margin-right: .5rem;
}

.chipContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
  min-height: 45px;
}

.inputContainer {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
}

.addButton {
  margin-left: 1rem;
}
