.aboutUsContainer {
  margin: auto;
  position: relative;
  right: -10px;
  max-width: 1000px;
  padding-top: 100px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  margin: auto;
  margin-top: 150px;
}

.homeContainer h1 {
  margin: auto;
  text-align: center;
  font-size: 2em;
  color: var(--textBlue);
  font-weight: bold;
}

.homeContainer p {
  margin: auto;
  text-align: center;
  font-size: 1em;
  padding-top: 30px;
  color: var(--textBlue);
}
