.card {
  display: flex;
  position: relative;
}

.icon_container {
  position: absolute;
  right: 1em;
  top: 1em;
}

.content_container {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.name_input {
  margin-bottom: 1em;
}

.description {
  margin-bottom: 1em;
}

.input {
  margin: 0.5em 0;
}

.button_container {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 0.5em;
  }
}
